/* ANIMATIONS */
@keyframes walkInOut{
    0%{
        transform: translate(-50%,80%);
    }
    100%{
        transform: translate(150%,20%);
    }
}


#chasingAnimation{
    animation-name: walkInOut;
    animation-duration: 30s;
    animation-delay: 0s;
    animation-direction: normal;
    animation-fill-mode: both;
    animation-iteration-count: unset;
    
}
