/* ANIMATIONS */
@keyframes walkInOut{
    0%{
        transform: translate(-150%,0%);
    }
    100%{
        transform: translate(500%,50%);
    }
}


#catwalk{
    animation-name: walkInOut;
    animation-duration: 15s;
    animation-delay: 0s;
    animation-direction: normal;
    animation-fill-mode: both;
    animation-iteration-count: unset;
    animation-timing-function: ease-in-out;
    
    position: fixed;
    z-index: 100;
    width:20%;
}
