a:link, a:visited, a:active{
    color: black;
    text-decoration: none;
}

a:hover{
    color: black;
    text-decoration: underline;
}

a.floatnav:link, a.floatnav:visited{
    color: white;
    text-decoration: none;
}
a.floatnav:active, a.floatnav:hover{
    color: #999999;
    text-decoration: none;
}


a.work:link, a.work:visited, a.work:active{
    color: black;
    text-decoration: none;
}

a.work:hover{
    color: black;
    text-decoration: underline;
}


#top-left-float{
    position:fixed;
    top: 0.5vw;
    left: 0.5vw;
}

#top-right-float{
    position:fixed;
    top: 0.5vw;
    right: 0.5vw;
}

#bottom-left-float{
    position:fixed;
    bottom: 0.5vw;
    left: 0.5vw;
}

#bottom-right-float{
    position:fixed;
    bottom: 0.5vw;
    right: 0.5vw;
}

div.banner-container{
    margin-top: 50px;
    margin-bottom: auto;
}

.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    width: 100%;
    /* background-color: black;*/

}

.column img {
    margin-top: 8px;
    vertical-align: middle;
}

@media screen and (min-width: 601px) {
    
    .column {
        -ms-flex: 48%;
        flex: 48%;
        max-width: 48%;
        padding: 0px 4px 0px 4px;
    }


    .round-text{
        font-size: 60px;
    }

    
    .round-text{
        
        border-radius: 10rem; 
        padding: 0 1.5rem 0 1.5rem;
        background-color: red;
        
    }

    .title{
        font-size: 60px;
        font-weight: bold;
        text-align: center;
        
    }
    
    .content{
        font-size: 24px;
    }


    .VideoContainer{
        position: relative;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        height: 0;
        padding-bottom: 56.25%;
    }


    .Video{
        width: 560px;
        height: 315px;
    }

    .VideoMax{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    
    
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
        padding: auto;
    }

    
    .round-text{
        font-size: 10vw;
    }

    
    .round-text{
        
        border-radius: 10rem; 
        padding: 0 1.5rem 0 1.5rem;
        background-color: red;
        
    }

    .title{
        font-size: 6vw;
        font-weight: bold;
        text-align: center;
        
    }
    
    .content{
        font-size: 4vw;
    }

    .Video{
        width: 100%;
    }

    .VideoMax{
        width: 100%;
    }
    
    
}

/*
div {
    border: 1px solid red;
}
*/